<div class="container responsive-grid">
  <button mat-icon-button mat-dialog-close class="btn-close">
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content class="flex w-100">
    <div class="col-1 book-image-container">
      <img src={{data.imageLinks.thumbnail}} alt="Book Image" class="book-image">
    </div>
    <div class="col-2">
      <header>
        <h2>{{ data.title }}</h2>
      </header>
      <a>{{ data.authors.join(', ') }}</a>
      <div class="additional-info">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select [value]="comboEstado" [formControl]="statusControl">
            <mat-option [value]=""></mat-option>
            @if (comboBoxValues) {
            @for (option of comboBoxValues.Estado; track $index) {
            <mat-option [value]="option.value">{{option.value}}</mat-option>
            }
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Género</mat-label>
          <mat-select [value]="comboGenres" [formControl]="genreControl">
            <mat-option [value]=""></mat-option>
            @if (genres) {
            @for (genre of genres; track $index) {
            <mat-option [value]="genre.id">{{genre.nombre}}</mat-option>
            }
            }
          </mat-select>
        </mat-form-field>

        <div>

          <div class="date-container">
            <mat-form-field>
              <mat-label>Inicio</mat-label>
              <input matInput [matDatepicker]="startDate" (dateChange)="changeStartDate($event)">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Fin</mat-label>
              <input matInput [matDatepicker]="endDate">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Puntaje</mat-label>
            <mat-select [value]="comboPuntaje" [formControl]="scoreControl">
              <mat-option [value]=""></mat-option>
              @if (comboBoxValues) {
              @for (option of comboBoxValues.Puntaje; track $index) {
              <mat-option [value]="option.value">{{option.value}}</mat-option>
              }
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onClick()">{{ existeLibro ? 'Editar' : 'Agregar'}}</button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>