.example-card {
    max-width: 300px;
}

img {
    padding-top: 16px;
    object-fit: contain;
    width: fit-content;
    align-self: center;
}

img:hover, mat-card-title:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}