.example-card {
    width: 250px;
    height: 100%;
    box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.13),0 0 .0625rem 0 rgba(0,0,0,.11);
    display: flex;
}

.example-card::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11)!important;
    opacity: 0;
    transition: opacity .2s;    
}

.example-card:focus::before, .example-card:hover::before {
    opacity: 1;
}

.example-card mat-card-header {
    height: -webkit-fill-available;
}

.img-flex {
    min-height: 380px;
}

img {
    object-fit: cover;
    width: 100%;
    align-self: center;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}